{% extends '../base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="quizStartModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body" id="modal-body-confirm">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" id="start-button">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 h1 text-danger">Quiz List</div>
  <div class="col-6 p text-right">{% if request.user.is_authenticated %} Hello, {{ request.user.username }} {% endif %}
  </div>
</div>
<hr>
{% if request.user.is_authenticated %}


<div class="row">
  {% for obj in quiz_data %}
  <div class="col-4">
    <a class="modal-button text-decoration-none cursor-pointer" data-pk="{{ obj.pk }}" data-name="{{ obj.name }}"
      data-topic="{{ obj.topic }}" data-questions="{{ obj.number_of_quesstions }}"
      data-difficulty="{{ obj.difficulty }}" data-time="{{ obj.time }}" data-pass="{{ obj.required_score_to_pass }}"
      data-bs-toggle="modal" data-bs-target="#quizStartModel">
      <div class="h-75 w-100 rounded border border-dark">
        <img src="{{ obj.image.url }}" class="w-100 h-50" />
        <div class="h-10 w-100 p-2">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ obj.name }}</h3>
            <p>{{ obj.time }} mins</p>
          </div>
          <p>Topic: {{ obj.topic }}</p>
          <p class="text-danger">Difficulty: {{ obj.difficulty }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>



{% else %}
<h1>Hello, you have to be authenticated to view Quiz</h1>
{% endif %}
{% endblock %}